@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

$background:#f9f9f9;
$foreground:#2c3e50;

$foreground-light:#34495e;


$size:50px;
$ratio:1.2;

.play {
  display:block;
  width: 0;
	height: 0;
	border-top: $size solid transparent;
	border-bottom: $size solid transparent;
	border-left: ($size*$ratio) solid $foreground;
  margin: ($size * 2) auto $size auto;
  position:relative;
  z-index:1;
  left:($size*0.2);

  &:before {
    content:'';
    position:absolute;
    top:($size*-1.5);
    left:($size*-2.3);
    bottom:($size*-1.5);
    right:($size*-0.7);
    border-radius:50%;
    border: ($size*0.2) solid $foreground;
    z-index:2;
  }
  &:after {
    content:'';
    opacity:0;
  }


  &.active {
	  border-color:transparent;
    &:after {
      content:'';
      opacity:1;
      width:($size);
      height:($size*1.6);
      background:$foreground;
      position:absolute;
      right: ($size*0.1);
      top: ($size*-0.8);
      border-left:($size*0.4) solid $foreground;
      box-shadow:inset ($size*0.6) 0 0 0 $background;
    }
  }
}


.intro {
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: white;
  display: none;
}

.img {
    max-width: 100%;
    max-height: 100%;
}
.popup-open {
  width: 80%;
  float: right;
}

.popup{
   overflow:auto;
}

.mute {
  width: auto;
  height: auto;
}

.muteinactive {
  background-image: url("/images/icons8-audio-32.png");
  background-repeat: no-repeat;
  cursor:pointer;
  border: none;
}

.muteactive {
  background-image: url("/images/icons8-no-audio-32.png");
  background-repeat: no-repeat;
  cursor:pointer;
  border: none;
}

.solo {
  width: auto;
  height: auto;
}

.soloinactive {
  background-image: url("/images/icons8-audio-32.png");
  background-repeat: no-repeat;
  cursor:pointer;
  border: none;
}

.soloactive {
  background-image: url("/images/icons8-no-audio-32.png");
  background-repeat: no-repeat;
  cursor:pointer;
  border: none;
}

:root {
  /* --f7-checkbox-active-color: var(--f7-theme-color); */
  --f7-checkbox-icon-color: #fff;
}
.ios {
  --f7-checkbox-size: 22px;
  --f7-checkbox-border-radius: 50%;
  --f7-checkbox-border-width: 1px;
  --f7-checkbox-inactive-color: #c7c7cc;
  --f7-checkbox-extra-margin: 0px;
}
.md {
  --f7-checkbox-size: 18px;
  --f7-checkbox-border-radius: 2px;
  --f7-checkbox-border-width: 2px;
  --f7-checkbox-inactive-color: #6d6d6d;
  --f7-checkbox-extra-margin: 22px;
}

.player .control-panel .controls .scroll-left p {
 position: absolute;
 width: 80%;
 height: 100%;
 margin: 0;
 line-height: 80px;
 text-align: center;
 overflow:auto;
 z-index: -1;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}

/* for player */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");


.player {
  position: relative;
}

.player .control-panel {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  height: 80px;
  z-index: 5;
  box-shadow: 0px 20px 20px 5px rgba(132, 132, 132, 0.3);
}
.player .control-panel .album-art {
  position: absolute;
  left: 4px;
  top: -4px;
  height: 80px;
  width: 80px;
  z-index: 6;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0);
  transform: scale(1.1);
  transition: all .5s ease;
}
.player .control-panel .album-art::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #fff;
  border-radius: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.player .control-panel .album-art::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  background-image: url();
}
.player .control-panel.active .album-art {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}
.player .control-panel.active .album-art::before {
  animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
  animation-fill-mode: forwards;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.player .control-panel .controls {
  display: flex;
  height: 80px;
  padding: 0 15px;
}

.player .control-panel .controls .play {
  width: 60px;
  height: auto;
  z-index: 10;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color .3s ease;
  -webkit-transition: background-color .3s ease;
}


.player .control-panel .controls .play {
  background-image: url("/images/icons8-play-32.png");
}

.player .control-panel.active .controls .play {
  background-image: url("/images/icons8-pause-32.png");
}


/* A bit of demo styles */;
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  background-size: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
