.popup-open {
  width: 80%;
  float: right;
}


.player .control-panel .controls .scroll-left p {
 position: absolute;
 width: 80%;
 height: 100%;
 margin: 0;
 line-height: 80px;
 text-align: center;
 z-index: -1;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}

/* for player */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");


.player {
  position: relative;
}

.player .control-panel {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  height: 80px;
  z-index: 5;
  box-shadow: 0px 20px 20px 5px rgba(132, 132, 132, 0.3);
}
.player .control-panel .album-art {
  position: absolute;
  left: 4px;
  top: -4px;
  height: 80px;
  width: 80px;
  z-index: 6;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0);
  transform: scale(1.1);
  transition: all .5s ease;
}
.player .control-panel .album-art::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #fff;
  border-radius: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.player .control-panel .album-art::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  background-image: url();
}
.player .control-panel.active .album-art {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}
.player .control-panel.active .album-art::before {
  animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
  animation-fill-mode: forwards;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.player .control-panel .controls {
  display: flex;
  height: 80px;
  padding: 0 15px;
}

.player .control-panel .controls .play {
  width: 60px;
  height: auto;
  z-index: 10;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color .3s ease;
  -webkit-transition: background-color .3s ease;
}


.player .control-panel .controls .play {
  background-image: url("/images/icons8-play-32.png");
}

.player .control-panel.active .controls .play {
  background-image: url("/images/icons8-pause-32.png");
}
