<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

<div class="intro"></div>
<div class="page">
<div id="map">
</div>

<div class="fab  fab-extended fab-left-bottom color-red">
    <a href="#" onclick="togglePlay();">
     <div class="audio-player">
       <div id="play-btn"></div></div>
   </a>
  </div>

<div class="fab fab-right-bottom color-blue">
<a hred="#"><i class="f7-icons">bars</i><i class="f7-icons">bars</i></a>
  <div class="fab-buttons fab-buttons-top">
     <a href="#" class="fab-label-button">
     <div class="popup-open" data-popup=".popup-about">
      <span><i class="f7-icons">info_round</i></span>
     </div>

    </a>
</div>
  </div>
</div>

	<!--
<div class="audio-player">
	<div id="play-btn"></div>
<!--
	<div class="audio-wrapper" id="player-container" href="javascript:;">
		<audio id="player" ontimeupdate="initProgressBar"></audio>
	</div>
	<div class="player-controls scrubber">
		<span id="seekObjContainer">
			<progress id="seekObj" value="0" max="1"></progress>
		</span>
		<br>
		<small style="float: left; position: relative; left: 15px;" class="start-time"></small>
		<small style="float: right; position: relative; right: 20px;" class="end-time"></small>

	</div>
</div> -->
<!--<div class="row no-gap">-->
<!--	<div class="player">
		<div id="control-panel" class="control-panel">
			<div class="album-art"></div>
				<div class="controls">
				<div id="play"></div>
				<div class="audio-wrapper" id="player-container" href="javascript:;">
     					 <audio id="player" ontimeupdate="initProgressBar()">
			  			<source  type="audio/mp3">
					</audio>
    				</div>
				<div class="popup-open player-controls scrubber" data-popup=".popup-about">
					<span id="seekObjContainer">
			 			 <progress id="seekObj" value="0" max="1"></progress>
					</span>
					<small style="float: left; position: relative; left: 15px;" class="start-time"></small>
					<small style="float: right; position: relative; right: 20px;" class="end-time"></small>
				</div>
			</div>
		</div>
	</div>
-->
<div class="popup popup-about">
	<div class="block">
		<button type="submit" class="popup-close" style="background-color:transparent; border-color:transparent;">
		  <span><img src="/images/icons8-delete-24.png"></span>
		</button>
	  	<div class="block-title">Music List</div>
		<div class="block accordion-list custom-accordion"></div>
	</div>
</div>


<script src="dependencies/framework7.min.js"></script>
<script src="js/newtovalley.js"></script>
<script src="js/getlocation.js"></script>

<script src="js/fetchtracks.js"></script>
<!--<script src="js/mixtrack.js"></script>-->
<script src="js/testmix.js"></script>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbWz128iTCfINrC_DIE2GxR9D6yChszaE&callback=initMap">
    </script>
