<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

<div id="map"></div>
<!--<div class="row no-gap">-->
	<div class="player">
		<div id="control-panel" class="control-panel">
			<div class="album-art"></div>
				<div class="controls">
					<div id="play" class="play"></div>
					<div class="popup-open" data-popup=".popup-about">
						<div class="scroll-left">
			    		<p id="description">helloheadkfjgnslkjhapdihgnlsdkfgnlqergbldanfmbs</p>
			    	</div>
					</div>
			</div>
		</div>
	</div>
	<!--
	<div class="col-30">
		<p>hells</p>
	</div>
	<div class="col-70">
	    <div class="popup-open" data-popup=".popup-about">

	    </div>
	</div>-->
<!--</div>-->



<div class="popup popup-about">
	<div class="block">
		<button type="submit" class="popup-close" style="background-color:transparent; border-color:transparent;">
		  <span><img src="/images/icons8-delete-24.png"></span>
		</button>
	  	<div class="block-title">List View Accordion</div>
		<div class="list accordion-list">
		  <ul>
		    <li class="accordion-item"><a href="#" class="item-content item-link">
		        <div class="item-inner">
		          <div class="item-title">Item 1</div>
		        </div></a>
		      <div class="accordion-item-content">
		        <div class="block">
		          <p>Item 1 content. Lorem ipsum dolor sit amet...</p>
		        </div>
		      </div>
		    </li>
		    <li class="accordion-item"><a href="#" class="item-content item-link">
		        <div class="item-inner">
		          <div class="item-title">Item 2</div>
		        </div></a>
		      <div class="accordion-item-content">
		        <div class="block">
		          <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
		        </div>
		      </div>
		    </li>
		  </ul>
		</div>
	</div>
</div>


<script src="dependencies/framework7.min.js"></script>
<script src="js/getlocation.js"></script>

<script src="js/fetchtracks.js"></script>
<!--<script src="js/mixtrack.js"></script>-->
<script src="js/testmix.js"></script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbWz128iTCfINrC_DIE2GxR9D6yChszaE&callback=initMap">
    </script>
